<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body id="homepage">
    <div id="landing">
        <section id="landinfo">
            <p class="title has-text-dark is-size-1 has-text-weight-bold is-spaced">Safe Travels</p>
            <p class="subtitle has-text-dark is-size-4">Research travel advisories and COVID-19 data.</p>
            <p class="subtitle has-text-dark is-size-4">Share your travel experience and connect with other travelers.
            </p>
            <a href="/countries"><button class="button is-large is-dark">Let's Do It</button></a>
        </section>
    </div>
</body>